.Admin{
    .NewsletterActivity, .EventsActivity{
        display: flex;
        align-items: center;
        .response{
            background: $color2;
            padding: 1em;
            position: fixed;
            left: 3%;
            bottom: 5%;
            border-radius: 5px;
        }
        .new-event, .new-post{
            background: $dark1;
            width: 35%;
            text-align: center;
            padding: 2em 0;
            border-radius: 10px;
            margin-left: 2em;
            h2{
                color: white;
            }
            .inputs{
                width: 90%;
                margin: .3em 0;
                font-size: 1.2em;
                padding: .3em .5em;
                border-radius: 5px;
            }
            button{
                width: 90%;
                font-size: 1.2em;
                border-radius: 5px;
            }
        }

        .post-list, .events-list{
            width: 60%;
            margin-left: 2em;
            padding: 0 2em;
            height: 95%;
            overflow: auto;
            .event, .post{
                background: $dark2;
                color: white;
                padding: .8em 1em;
                border-radius: 10px;
                margin: 1em 0;
                box-shadow: 0 0 5px $black;
                .details{
                    color: $lightGrey;
                    margin: 1.5em 0;
                }
                .date{
                    color: $color1;
                    font-weight: bold;
                    text-align: right;
                }
            }
        }
    }
}