$color1: #ca5816;
$color2: #420079;
$gradient: linear-gradient($color1, $color2);
$black: #0c0a0e;
$dark: #19002e;
$dark1: #000011;
$dark2: #0c0016;
$lightGrey: #b2b2b2;
$light1: #F9D8A7;
$light: #fefdff;