.EventsActivity{
    .events-list{
        .event-skeleton{
            background: $dark;
            color: white;
            padding: 1em;
            border-radius: 10px;
            margin: 1em 0;
            height: 8em;
            box-shadow: 0 0 5px $black;
            .skeleton{
                background: none;
                height: 2em;
                margin-bottom: .5em;
            }
            .skeleton:nth-child(2){
                height: 1.5em;
                width: 70%;
            }
            .skeleton:last-child{
                height: 1.5em;
                width: 30%;
                right: 5%;
                position: absolute;
            }
        }
        .event{
            background: $dark;
            padding: 1em;
            color: white;
            .title{
                font-size: .8em;
            }
            .about{
                font-size: .8em;
                color: $lightGrey;
            }
            .date{
                color: $color1;
                font-size: .8em;
                font-weight: bold;
                text-align: right;
            }
        }
    }
}