footer{
    background: $dark2;
    display: flex;
    text-align: center;
    position: fixed;
    bottom: 0;
    border-top: 1px solid $lightGrey;
    width: 100%;
    height: 10%;
    align-items: center;
    color: $dark;
    .item{
        display: block;
        align-items: center;
        width: calc(100%/4);
        color: $lightGrey;
        i{
            font-size: 1.5em;
        }
        .label{
            font-size: .7em;
            font-weight: 600;
        }
    }
    .item.active{
        color: $color1;
    }
}