header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 10%;
    left: 0;
    top: 0;
    background: transparent;
    color: $lightGrey;
    z-index: 1000;
    img{
        @include middleCenter();
        position: fixed;
        width: 20%;
    }
    *{
        display: flex;
        align-items: center;
    }
    #mainMenu{
        font-size: 2em;
        @include topRight();
    }
    #accountMenu{
        font-size: 2em;
        @include topLeft();
        display: block;
        margin: 0;
        padding: 0;
        p{
            font-size: .4em;
            background: $color1;
            color: white;
            margin: 0;
            padding: 0 .3em;
            border-radius: 5px 5px 0 0;
        }
    }
    .activity-title{
        @include middleCenter();
        font-size: .6em;
    }
}