.loading{
    background: $lightGrey;
    width: 100%;
    height: .3em;
    background: linear-gradient(90deg, $color1, $color2);
    top: 0;
    @include horizontalCenter;
    z-index: 10000;
}

.loading::after{
    content: "";
    background-image: linear-gradient(90deg, #fff0, #fff5, #fff0);
    width: 50%;
    @include middleCenter;
    height: .2em;
    position: absolute;
    animation: loader 1s ease infinite;
}

@keyframes loader {
    0%{
        background-image: linear-gradient(90deg, #fff0, #fff5, #fff0);
        transform: translateX(-100%);
    }
    50%{
        background-image: linear-gradient(90deg, #fff0, #fff5, #fff0);
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
        background-image: linear-gradient(90deg, #fff0, #fff5, #fff0);
    }
}