.NewsletterActivity{
    color: white;
    .news-block{
        .block-skeleton{
            background: $dark;
            color: white;
            padding: 1em;
            border-radius: 10px;
            margin: 1em 0;
            height: 19em;
            box-shadow: 0 0 5px $black;
            .skeleton{
                background: none;
                height: 10em;
                margin-bottom: .5em;
                position: relative;
                i{
                    font-size: 10em;
                    color: black;
                    opacity: .2;
                    @include middleCenter;
                }
            }
            .skeleton:nth-child(2){
                height: 2em;
                width: 90%;
            }
            .skeleton:nth-child(3){
                height: 1.5em;
                width: 70%;
            }
            .skeleton:last-child{
                height: 1.5em;
                width: 30%;
                right: 5%;
                position: absolute;
            }
        }
        .block{
            background: $color2;
            margin: 1em 0;
            border-radius: 5px;
            .ad-watermark{
                background: $color2;
                color: white;
                padding: .2em;
            }
            img{
                width: 100%;
                border-radius: 5px 5px 0 0;
            }
            .details{
                padding: 1em;
                .title{
                    font-size: 1.2em;
                }
                .date{
                    color: $color1;
                    font-weight: bold;
                    text-align: right;
                }
            }
        }
    }
}