header{
    display: flex;
    background: $dark2;
    align-items: center;
    .searchPrayer{
        @include topLeft;
        left: 1%;
        font-size: 1em;
        padding: .4em;
        width: 25%;
        background: $dark1;
        border-radius: 5px;
        border: 1px solid black;
        input{
            border: none;
            margin: 0 .3em;
            font-size: 1em;
            width: 100%;
            color: $color2;
        }
        input:hover, input:focus{
            border: none;
        }
    }
    .activity-title{
        color: white;
        font-size: 1.5em;
    }
}
.PrayerRequestsActivity{
    margin: 0;
    padding: 0;
    .requests-list{
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        .request{
            padding: 1em;
            border-bottom: 1px solid white;
            position: relative;
            .about{
                width: 75%;
                .prayerRequest{
                    color: $dark;
                    line-height: 1.2em;
                    overflow: hidden;
                }
            }
            .dateTime{
                @include verticalCenter();
                right: 5%;
                font-size: .9em;
                font-weight: bold;
                .date{
                    color: $color2;
                }
                .time{
                    color: $color1;
                }
            }
        }
        .request.active{
            background: white;
            border-bottom: 1px solid $lightGrey;
        }
    }
    .request-details{
        background: white;
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: #160029;
        color: white;
        .overlay{
            width: 100%;
            height: 100%;
            background-image: url(../images/2.jpg);
            background-size: cover;
            opacity: .1;
        }

    }
}