.splash-screen{
    background: $dark;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    *{
        transition: 1s;
    }
    .appIcon{
        @include middleCenter;
        width: 50%;
        animation: spin 3s ease infinite;
    }

    @keyframes spin {
        0%{
            transform: translate(-50%, -50%) scale(1);
        }
        50%{
            transform: translate(-50%, -50%) scale(.9);
        }
        100%{
            transform: translate(-50%, -50%) scale(1);
        }
    }

    .devLogo{
        color: white;
        @include horizontalCenter;
        width: 50%;
        bottom: 10%;
        text-align: center;
        animation: zoom 2s ease;
        p{
            font-size: .8em;
        }
        img{
            filter: brightness(0) invert(1);
            width: 45%;
            padding: .5em;
        }
    }
    
    @keyframes zoom {
        0%{
            bottom: -10%;
        }
        100%{
            bottom: 10%;
        }
    }

}